/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.form > *, .container > * {
	margin-top: 32px;
}

.url {

	cursor: pointer;
	padding: 16px;

	span {
		font-family: monospace;
	}
}