/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

.form > *, .container > * {
	margin-top: 32px;
}

.url {

	padding: 16px;
	overflow: hidden;

	span {
		font-family: monospace;
	}
}

.clearButton {
	margin-left: 16px;
}